*.a
*.o
*.dylib
*.log
*.bundle
bin/
lib/
build/
share/
doc/bk_refcard.pdf
doc/bk_refcard.ps
doc/www/nested.html
man/bk-man/
man/man2help/*.fmt
man/man2help/*.roff
man/man2help/*.done
man/bkver-macro
src/libc/mtst
src/libc/string/str.cfg
src/libc/fslayer/*.c
src/libc/fslayer/fslayer*
src/gui/images/
src/t/doit
src/t/guitest
src/utils/BitKeeper/
src/utils/*.bin
src/utils/*.pkg
src/utils/installtool
src/utils/munge
src/utils/sfio
src/utils/zz
src/utils/_data.c
src/bk
src/bk.script
src/bkhelp.txt
src/bkmsg.txt
src/bkver.c
src/cmd.c
src/cmd.h
src/conf.mk
src/import
src/kw2val_lookup.c
src/substvars
src/version
src/*wrap


# These overlap with existing content in repo but there's too much scattered crap to ignore
src/gui/tcltk/
man/man2help/
